
.signIn, .signUp {
  border-radius: 2vh;
  background-color: #DEDAF7;
  height: 30%;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}

.signUp {
  height: 35%;
}

#signInTitle, #signUpTitle {
  padding-top: 1vh;
}

#errorMessage {
  color: red;
  padding-bottom: 4vh;
}

.container {
  background-color: #8f96c6;
  height: 100%;
  width: 100%;
  position: absolute;
}

button {
  -webkit-transition: all ease 0.8s;
  -moz-transition: all ease 0.8s;
  transition: all ease 0.8s;
}

#sign {
  font-size: 11px;
  border-radius: 7px;
  height: 4vh;
  width: 10vh;
  font-weight: 600;
}

#sign:hover {
  background-color: #DEDAF7;
  box-shadow: inset 80px 0 0 0 #71F06F;
}

.input-field {
  margin-top: 1vh;
  margin-bottom: 2vh;
}

#username, #password, #confirmation {
  height: 3vh;
  border: none;
  border-radius: 5px;
}

#username:focus, #password:focus {
  outline: none;
}

