.AddNewChartForm {
  background-color: #C383AF;
  height: 60vh;
  width: 40vh;
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  overflow: auto; /* Enable scroll if needed */
  background-color: #C383AF; /* Fallback color */
  background-color: #C383AF; /* Black w/ opacity */
}

.addChartSheetColumnLeft {
  width: 20%;
  background-color: #E1B1D2;
}

.addChartSheetColumnRight {
  width: 80%;
  background-color: #E1B1D2;
}

.newChartInput {
  width: 95%;
  height: 48px;
  font-weight: 400;
  text-align: center;
  line-height: 48px;
}

#addChartLastDiv {
  margin-left: auto;
  margin-right: auto;
}

.descriptionInput {
  background-color: #FFF0FA;
  font-weight: 400;
  text-align: start;
  padding: 4px;
  height: 195px;
  width: 95%;
  resize: none;
  font-family: Arial;
}

#addNewChart {
  border-radius: 20px;
}

#backToChartSheet {
  border-radius: 20px;
  width: 40px;
}
