.AddNewChartForm {
  background-color: #C383AF;
  height: 60vh;
  width: 40vh;
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  overflow: auto; /* Enable scroll if needed */
  background-color: #C383AF; /* Fallback color */
  background-color: #C383AF; /* Black w/ opacity */
}