.TableData {
  background-color: cyan;
}

.row:hover {
  background-color: red;
}

.row {
  contenteditable: true;
}

#minus {
  width: 40px;
  font-weight: bold;
  color: red;
}

#plus {
  width: 40px;
  font-weight: bold;
  color: green;
}

#send {
  width: 40px;
  font-weight: bold;
  color: green;
}