.TableData {
  background-color: #AED4FF;
  border-radius: 1vh;
}

.row {
  contenteditable: true;
}

#minus {
  width: 40px;
  font-weight: bold;
  color: red;
}

#plus {
  width: 40px;
  font-weight: bold;
  color: green;
}

#send {
  width: 40px;
  height: 22px;
  color: green;
}

#send:hover {
  background-color: green;
  color: white;
}

table.tabledata {
  table-layout: fixed;
  margin-left: auto;
  margin-right: auto;
}

.row:hover .cell {
  background-color: #DEDAF7 !important;
}

.cell {
  width: 163px !important;
  background-color: #AEBFFF;
}

#plus:hover, #minus:hover {
  background-color: #DEDAF7;
  box-shadow: inset 80px 0 0 0 #F6EAAA;
}

#send:hover {
  background-color: #DEDAF7;
  box-shadow: inset 80px 0 0 0 green;
}
